@keyframes animslider {
  0% {
    -webkit-transform: translateX(-100%) skewX(-50deg);
    transform: translateX(-100%) skewX(-50deg)
  }
  to {
    -webkit-transform: translateX(0%) skewX(0deg);
    transform: translateX(0%) skewX(0deg)
  }
}